@import "partials/variables";
@import "partials/common";
@import "partials/header";
@import "partials/home";
@import "partials/footer";
// @import "partials/info-comics";
// @import "partials/main-nav";