@import "partials/variables";
@import "partials/common";
@import "partials/header";
// @import "partials/comics";
// @import "partials/info-comics";
@import "partials/footer";
// @import "partials/main-nav";